= render 'header'
%div(class='yuanjiao'style="margin:auto;width:79%;background:#c0c0c0;padding:1px")
  %h4
    用户管理
    .btn
      =link_to "添加用户",:action => "add_account"
%table(class="table table-hover table-bordered" style="margin:auto; width:79%")
  %thead
    %tr
      %th 编号
      %th 用户名
      %th 操作
  %tbody
    -counter=@counter
    -for t in @users
      %tr
        %td(align="center" style="width:37%" valign="middle")
          = counter
          -counter = counter+1
        %td(align="center" style="width:37%" valign="middle")
          =link_to t.name , activity_url(name:t.name)
        %td(align="center" style="width:45%" valign="middle")
          =link_to "删除",t, method: :delete, data: { confirm: "您确实要删除"+t.name+" ?" }
          =link_to '修改密码',admin_url(id:t.id),:controller=>'admins'
.right-padding
  = will_paginate @users,{:previous_label =>'上一页',:next_label => '下一页'}