%h2 活动通
%div(class="modal fade in grey")
  = render 'modify_password_header'
  %div(class="index-login" style="text-align:center;")
    .input-prepend
      .add-on
        %lable(style="width:500px") 忘记密码问题
      %input(type="text" placeholder=@question disabled)
    =form_for(:user) do |f|
      .input-prepend
        = f.label :'忘记密码答案' ,:class=>"add-on"
        = f.text_field :answer ,:type=>"text"
      %br
      -if @err_msg=='true'
        .btn-danger.active  忘记密码答案错误
      %br
      %div(style="text-align:center")
        = f.submit "下 一 步", :class=> "btn btn-primary"
      %br








