%meta(http-equiv="refresh" content="3" URL="/sessions/activity_show")
%div(class="container")
  %div(style="background:#f5f5f5;text-align:center" )
    %br
    %h1
      =@name
    %h3
      -if @win.nil?||!(@win[:activity_id] == @bidlist[:activity_id]&&@win[:bid_name]== @bidlist[:name])
        ='参与人数('
        = @bidding_detail.length.to_s
        ='/'
        = @num.length.to_s+')'
      -if @win1=='true'&&@win[:name]=='竞价无效'
        本次竞价无效
      -if @win1=='true'&&@win[:name]!='竞价无效'
        ="获胜者:"+@win[:name]
        ='出价:'+@win[:price]+'元'
        ='手机号:'+@win[:phone]
    %br
    %br
  %br
  -if @win.nil?||!(@win[:activity_id] == @bidlist[:activity_id]&&@win[:bid_name]== @bidlist[:name])
    %table(class="table table-hover table-bordered")
      %thead
        %tr(style="text-align:center")
          %th 姓名
          %th 电话
      %tbody
        -@bidding_details.each do |t|
          %tr(style="width:50%;text-align:center" valign="middle")
            %td
              = t.name
            %td
              =t.phone
