= render 'display_header'
%div(style="background:#F5F5F5;padding:8px")
  =link_to '首页' ,:action => 'show'
  %lable /竞价列表
%br
%div(class='title-bar')
  %h4
    竞价列表
    .right-padding1
      =link_to '报名列表' ,sign_up_path
%table(class="table table-hover table-bordered " style="margin:auto; width:79%")
  %thead
    %tr
      %th(class='text-center') 编号
      %th 名称
      %th 参与人数
  %tbody
    -@bid_lists.each do |t|
      %tr
        %td(text-align="center" style="width:37%" valign="middle")
          = @counter
          -@counter=@counter+1
        %td(align="center" style="width:37%" valign="middle")
          =link_to t.name ,bid_detail_url(activity_id:t.activity_id,name:t.name)
        %td(align="center" style="width:37%" valign="middle")
          =Bid.where(:bid_name=>t.name,:activity_id => t.activity_id).length
          ='/'
          = SignUp.where(:activity_id => t.activity_id).length
.right-padding
  = will_paginate @bid_lists,{:previous_label =>'上一页',:next_label => '下一页'}