= render 'display_header'
%div(class='title-bar container')
  %h4
    活动信息
    .right
      =link_to_if(@status=='running','活动展示','/shows/activity_show')
%table(class="table table-hover table-bordered" style="margin:auto; width:79%")
  %thead
    %tr
      %td 编号
      %td 活动名称
      %td 报名人数
      %td 竞价次数
  %tbody
    - counter = @counter
    -@activities.each do |t|
      %tr
        %td(align="center" style="width:25%" valign="middle")
          = counter
          -counter=counter+1
        %td(align="center" style="width:25%" valign="middle")
          =link_to t.name , bids_url(activity_id: t.activity_id)
        %td(align="center" style="width:25%" valign="middle")
          =link_to (SignUp.where(:activity_id => t.activity_id)).length,sign_up_url(activity_id: t.activity_id)
        %td(align="center" style="width:25%" valign="middle")
          =link_to (BidList.where(:activity_id => t.activity_id)).length,bids_url(activity_id: t.activity_id)
.right-padding
  = will_paginate @activities ,{:previous_label =>'上一页',:next_label => '下一页'}